.productName{
    min-height: 38px;
    height: 38px;
    overflow: visible;
}

.uploadImg{
    font-size: 60px;
}
.cartDelete{
    top:5px;
    left:5px;
    font-size: 20px;
}
.productContainer:after, .productContainer:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.productContainer:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: rgb(255, 87, 34);
    border-width: 11px;
    margin-left: -11px;
}
.productContainer:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: rgba(255, 90, 37, 0.67);
    border-width: 15px;
    margin-left: -15px;
}